<div class="wish-product product-tile-container wishlist-tile-container grid__4col" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
  <div>
    <div>
      <a href="{{ product.url }}">
        <div class="wishlist__product-img">
          <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}">
        </div>
      </a>
    </div>
  </div>  
</div>